.book-show {
    img {
        height: 400px;
        image-rendering: high-quality;
    }

    h3 {
        font-family: "Outfit";
        font-size: 20px;
        // font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h2 {
        font-family: "Outfit";
        font-weight: 600;
        font-size: 40px;
    }

    p {
        font-family: "Quicksand";
        font-size: 16px;
    }
}

.img-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.book-show-buttons {
    .btn {
    color: white;
    background-color: black;
    padding: 10px 20px;
    text-decoration: none;
    }

    .btn:hover {
        background-color: $lilac;
    }

    a {
        font-family: "Quicksand";
        font-weight: bold;
        color: white;
        background-color: black;
        padding: 10px 20px;
        text-decoration: none;
    }

    a:hover {
        background-color: $lilac;
    }
}