// Specific CSS for your home-page
.container {
    display: grid;
    // grid-column: 2ft 1ft;
}

.scrollable-section {
    overflow-x: scroll;
    display: flex;
    align-items: center; /* center items vertically */
}

.scrollable-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px; /* space between cards */
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 50px;

    h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    h3 {
        font-family: "Outfit";
        font-size: 23px;
        font-weight: bold
    }
}

.left-column .recently-read {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    img {
        height: 150px;
        image-rendering: high-quality;
    }
}

.recently-read-books {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 200px;

    img {
        height: 300px;
        image-rendering: high-quality;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: $gray;
    }

    a:hover {
        color: $lilac;
    }

}