.navbar {
  padding: 20px;
  background-color: $persianred;
  justify-content: space-between;

  .btn {
    color: $light-gray;
  }

  .form-control {
    width: 300px;
  }  

  .nav-item {
    color: white;
  }
}


.form-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.navbar-brand {
  margin-left: 1rem;
  font-weight: bold;
  color: $light-gray;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

