.navbar {
  padding: 20px;
  background-color: $persianred;

  .btn {
    color: $light-gray;
  }

  .form-control {
    width: 300px;
  }  
}


.form-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.navbar-brand {
  margin-left: 1rem;
  font-weight: bold;
  color: $light-gray;
}